@(user: models.UserMoreFields)

<table>
    <tr><td>First name</td><td>@user.firstName</td></tr>
    <tr><td>Last name</td><td>@user.lastName</td></tr>
    <tr><td>Age</td><td>@user.age</td></tr>
    <tr><td>Tasks</td><td>@user.tasks</td></tr>
    <tr><td>Salary</td><td>@user.salary</td></tr>
    <tr><td>Birth date</td><td>@user.birthDate</td></tr>
    <tr><td>Now</td><td>@user.now</td></tr>
    <tr><td>Email</td><td>@user.email</td></tr>
    <tr><td>Employed</td><td>@user.employed</td></tr>
    <tr><td>Married</td><td>@user.married</td></tr>
    <tr><td>Opt in</td><td>@user.optIn</td></tr>
</table>
